@charset "utf-8";
*{margin: 0;padding: 0;}
ul,li{list-style: none;}
body{font-size: 14px;font-family: "微软雅黑";min-width: 1080px;}
/*html,body{height: 100%;;}*/
a{color: #000;}
.cb{user-select:none;-webkit-user-select:none;-o-user-select:none;-moz-user-select:none;-ms-user-select:none;}